@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;700;900&display=swap");

$customize-font-family-base: "Roboto", "Noto Sans TC", Arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;

$customize-gray-900: #1c1917;
$customize-gray-800: #292524;
$customize-gray-700: #44403c;
$customize-gray-600: #57534e;
$customize-gray-500: #78716c;
$customize-gray-400: #a8a29e;
$customize-gray-300: #d6d3d1;
$customize-gray-200: #e7e5e4;
$customize-gray-100: #f5f5f4;
$customize-gray-50: #fafaf9;

$customize-red-800: #991b1b;
$customize-red-600: #dc2626;
$customize-red-500: #ef4444;
$customize-red-300: #fca5a5;
$customize-red-50: #fef2f2;

$customize-blue-500: #3b82f6;
$customize-blue-400: #38bdf8;

$customize-fuchsia-500: #d946ef;

$customize-yellow-500: #eab308;

$customize-green-500: #22c55e;

$customize-letter-spacing: 0.5px;
$customize-line-height: 1.5;

$customize-font-weight-bold: 700;
$customize-font-weight-normal: 400;

$customize-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.25);
$customize-border-radius: 10px;
$customize-btn-padding: 9px 24px;
